#state_ModsState {
    .content {
        .mform {
            margin-bottom: 10px;
        }
        .uploadlabel {
            display: inline-block;
            padding: 10px;
            background: #ccc;
            cursor: pointer;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
        .uploadlabel:hover {
            background: #ddd;
        }
        #fileElem {
            display: none;
        }
    }


    @include DarkThemeOverride {
        .content {
            .setting {
                background: darken($darkModeGameBackground, 10);

                .value.enum {
                    // dirty but works
                    filter: invert(0.85);
                    color: #222;
                }

                .value.checkbox {
                    background-color: #74767b;

                    &.checked {
                        background-color: $colorBlueBright;
                    }
                }
            }
        }
    }
}
